<!DOCTYPE html>
{% load static %}
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="/static/css/login.css" />

    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  </head>
<style>
        html,body{text-align:center;margin:0px auto;}
</style>
<body>
<header>
    <div class="header_line" ></div>
</header>
<div class="content">
    <img class="csairlogo1" src="/static/img/csairlogo.png" align="center" alt="上海分公司市场销售部文件管理系统">
    <img class="csairlogo2" src="/static/img/logo_skyteam.png" align="center" alt="上海分公司市场销售部文件管理系统">
    <h1>上海分公司市场销售部</br>文件管理系统</h1>
<div class="content-form">
<form class= "userpass" method = 'post' enctype="multipart/form-data">
     {{userform.as_p}}
<input class="content-form-signup" type="submit" value = "Login" />
    <div class="content-login-description">没有账户？</div>
    <div><a class="content-login-link" href="../regist">注册</a></div>
</form>
</div>
</div>
</body>
</html>