
<div class="container">
<nav>
		<ul class="mcd-menu">
			<li>
				<a href="../mainpage">
					<i class="fa fa-home"></i>
					<strong>主页</strong>
					<small>main page</small>
				</a>
			</li>
			<li>
				<a href="../uploadfile" class="active">
					<i class="fa fa-edit"></i>
					<strong>上传文件</strong>
					<small>upload your file</small>
				</a>
			</li>
			<li>
				<a href="../show">
					<i class="fa fa-gift"></i>
					<strong>文件搜索</strong>
					<small>search what you want</small>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-globe"></i>
					<strong>开发中</strong>
					<small>coming soon</small>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-comments-o"></i>
					<strong>开发中</strong>
					<small>coming soon</small>
				</a>
				<ul>
					<li><a href="#"><i class="fa fa-globe"></i>Mission</a></li>
					<li>
						<a href="#"><i class="fa fa-group"></i>Our Team</a>
						<ul>
							<li><a href="#"><i class="fa fa-female"></i>Leyla Sparks</a></li>
							<li>
								<a href="#"><i class="fa fa-male"></i>Gleb Ismailov</a>
								<ul>
									<li><a href="#"><i class="fa fa-leaf"></i>About</a></li>
									<li><a href="#"><i class="fa fa-tasks"></i>Skills</a></li>
								</ul>
							</li>
							<li><a href="#"><i class="fa fa-female"></i>Viktoria Gibbers</a></li>
						</ul>
					</li>
					<li><a href="#"><i class="fa fa-trophy"></i>Rewards</a></li>
					<li><a href="#"><i class="fa fa-certificate"></i>Certificates</a></li>
				</ul>
			</li>
			<li>
				<a href="">
					<i class="fa fa-picture-o"></i>
					<strong>开发中</strong>
					<small>coming soon</small>
				</a>
			</li>
			<li>
				<a href="../contact">
					<i class="fa fa-envelope-o"></i>
					<strong>联系我们</strong>
					<small>drop a line</small>
				</a>
			</li>
			<li class="float">
				<a class="search">
					<input type="text" value="search ...">
					<button><i class="fa fa-search"></i></button>
				</a>
				<a href="" class="search-mobile">
					<i class="fa fa-search"></i>
				</a>
			</li>
		</ul>
	</nav>
</div>


