<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>所有文件</title>
</head>
<body>
	<p>全部文件如下:</p>
	<!-- <input type="submit" name="Button" value="展示数据" onclick="ajax_click()"  /> -->
    <table border="10">
    	<tr>
        	<th>上传者：</th>
            <th>文件：</th>
        </tr>
        {% for upload in uploadinfo %}
            <tr >
                <td>{{upload.username}}</td>
                <td><a href={{upload.pathname}}>{{upload.filename}}</a></td>

            </tr>
        {% endfor %}
    </table>
</body>
</html>
