<meta charset="UTF-8">
  <title>上海分公司市场销售部业务支持系统</title>
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='http://puertokhalid.com/up/demos/puerto-Mega_Menu/css/normalize.css'>
  <link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />
     <div class="login_register">
        <li><img id="csairlogo" src="/static/img/csairlogo.png" align="right" alt="上海分公司市场销售部文件管理系统"></li>
        <li><img id="skyteamlogo" src="/static/img/logo_skyteam.png" align="right" alt="上海分公司市场销售部文件管理系统"></li>
        <li>Hi,欢迎来到市场销售部业务支持系统</li>
         <li><a href="../regist">注册</a></li>
        <li><a href="../logout">退出</a></li>

    </div>
    <div class="maquee" >
         <marquee scrolldelay="300" scrollamount="20" onmouseover=this.stop() onmouseout=this.start()>[最新动态]xxxxxx学习文件已更改，请各位下载学习。</marquee>
    </div>


